html,
body {
    height: 100%;
}

body {
    background-color: #e5e5e5!important;
}

#root {
    width: 100%;
}

.login-form {
    width: 100%;
    height: 100vh;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    /* text-align: center!important; */
}

.loginbtn {
    background-image: unset;
}

.form-signin {
    width: 100%;
    height: 550px;
    /* max-width: 330px; */
    padding: 50px 80px 0px;
    background-color: #fff;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.eye {
    cursor: pointer;
    background-color: unset;
    border: unset;
    margin-left: -35px;
    margin-top: 8px;
    z-index: 999;
}

.logintxt {
    color: #c2c3cc;
}

.copytext {
    margin-top: 80px;
    text-align: center;
    color: #c2c3cc;
}

.errortext {
    color: #ff2222;
}

.dash-header-top {
    background-color: #192d56;
    height: 60px;
    padding: 0px 50px 0px 50px;
}

.dash-header-bottom {
    background-color: #fff;
    /* height: 60px; */
    padding: 0px 50px 0px 32px;
}

.dash-header-txt {
    color: #fff;
    font-size: 14;
}

.nav-link {
    color: #9e9aad;
}

.nav-link.active {
    color: #000;
}

.content {
    padding: 60px!important;
    background-color: #efeff4;
}

.content-title {
    color: #192d56;
    font-weight: 700;
}

.input-group-addon {
    background-color: #fff!important;
}

.passinput {
    border-top-right-radius: 4px!important;
    border-top-left-radius: 4px!important;
}

.inputicon {
    font-size: 1.8rem;
    padding: 0px;
    background: unset;
    border: unset;
}

.searchinput {
    border-left: unset !important;
    box-shadow: unset!important;
}

.searchinput:focus {
    border: 1px solid #ccc !important;
    border-left: unset!important;
    box-shadow: unset!important;
}

.content-table {
    margin: 50px 10px 10px 10px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 1px #dedee2;
}

.content-table th,
.content-table td {
    padding: 10px 20px 8px 20px !important;
}

.tableheader {
    color: #9e9fad;
}

.activestatus {
    color: #27ae60;
}

.viewdetails {
    color: #f38d08;
    cursor: pointer;
}

.modal-right-panel {
    color: #9e9fad;
    border-right: 1px solid #e7e8ec;
}

.fa-times {
    position: absolute;
    right: 0;
}

.userModal p {
    margin-bottom: 30px;
}

.btn-outline-warning {
    border: 1px solid #ffc107!important;
}

.btn-outline-danger {
    border: 1px solid #dc3545!important;
}

.logout {
    cursor: pointer;
}

.footertext {
    margin-top: 30px;
    color: #9e9fad;
}

.usermodal {
    top: 60%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 30px;
}

@media screen and (max-width: 1440px) {
    .form-signin {
        padding: 50px 50px 0px;
    }
}

@media screen and (max-width: 1200px) {
    .form-signin {
        padding: 50px 30px 0px;
    }
}

@media screen and (max-width: 992px) {
    .logoimg {
        display: none;
    }
    .logincontent {
        padding-left: 15px!important;
    }
    .form-signin {
        padding: 50px 20px 0px;
    }
}


/* @media screen and (max-width: 767px) {
    .logoimg {
        display: none;
    }
    .logincontent {
        padding-left: 15px!important;
    }
    .form-signin {
        padding: 30px 20px 0px;
    }
} */

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0.3 !important;
}

.fade {
    opacity: 1 !important;
    transition: opacity 0.15s linear;
}

.modal.fade .modal-dialog {
    transform: unset !important;
    transition: unset !important;
    margin: auto !important;
}

.modal {
    top: 200px !important;
}

.navbar-collapse {
    margin-left: 30px !important;
    margin-top: 20px!important;
}

.navbar-toggler {
    position: absolute !important;
    left: 0px!important;
    top: 10px!important;
}

.navbar {
    margin-bottom: 0 !important;
}

.nav-header {
    box-shadow: unset !important;
}

table th,
table td {
    font-size: 14px;
    padding: 10px!important;
}

.pagination .page-item .page-link {
    font-size: 14px;
}

.contenttable {
    background-color: #fff;
    padding: 20px;
}

.addadmin {
    background-image: unset;
}

.removebtn {
    font-size: 12px!important;
}

.alerttxt {
    font-size: 20px;
    text-align: center;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link,
.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: rgba(0, 0, 0, .5);
}

.navbar .dropdown-menu a {
    font-size: 12px;
}

.activedropdown a {
    color: #000 !important;
}

.vehiclemodal {
    height: 500px;
    overflow: auto;
}

.reportdiv {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 1px #dedee2;
}

.reporttitle {
    color: #f38d08;
    font-size: 14px;
}

.reportselect {
    border: unset;
    color: #f38d08;
    box-shadow: unset;
    padding: 0;
}

.reportselect:focus {
    border: unset;
    color: #f38d08;
    box-shadow: unset;
    padding: 0;
}

.tabletitle {
    color: #9e9fad;
}

.reporttable {
    height: 250px;
    overflow: auto;
}

.growthtitle {
    color: #494B60;
    font-size: 16px;
    font-weight: 700;
}

.datepicker {
    width: 150%;
}

.react-datepicker {
    font-size: 12px;
}